$container-width: 940px;

//colors
$white: #fff;
$green: #65ba99;
$black: #252222;

//layout
@import "layout/adjustment";
@import "layout/fonts";
@import "layout/fontawesome-all";

//sections
@import "sections/header";
@import "sections/portfolio";
@import "sections/testimonial";

//media
@import "media/tv";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";